<nav>
<img src="/Assets/images/logo.png" class="logo">
<ul id="sidemenu">
   <li class="nav-item">
      <% if (title === "Home") { %>
        <a class="nav-link active" href="/home">
      <% } else { %>
        <a class="nav-link" href="/home">
      <% } %>
        <i class="fa-solid fa-lg fa-house-user"></i> Home</a>
    </li>
    <li class="nav-item">
      <% if (title === "About Me") { %>
        <a class="nav-link active" href="/About">
      <% } else { %>
        <a class="nav-link" href="/About">
      <% } %>
            <i class="fa-solid fa-lg fa-house-user"></i> About Me</a>      
    </li>
        <li class="nav-item">
            <% if (title === "Projects") { %>
                <a class="nav-link active" href="/Projects">
            <% } else { %>
                <a class="nav-link" href="/Projects">
            <% } %>
            <i class="fa-solid fa-lg fa-house-user"></i> Projects</a>
        </li>
        <li class="nav-item">
            <% if (title === "Contact Me") { %>
                <a class="nav-link active" href="/Contact">
            <% } else { %>
                <a class="nav-link" href="/Contact">
            <% } %>
            <i class="fa-solid fa-lg fa-house-user"></i> Contact Me</a>
        </li>
        <i class="fas fa-times" onclick="closemenu()"></i>
    </ul>
    <i class="fas fa-bars" onclick="openmenu()"></i>
</ul>
<i class="fas fa-bars" onclick="openmenu()"></i>
</nav>
 <div id="about">
        <div class="container">
            <div class="row">
                <!-- Column 1 with image -->
                <div class="about-col-1">
                    <img src="A1 Pictures/About Me.png">
                </div>
                <!-- Column 2 with text and tabs -->
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <!-- Paragraph describing the person -->
                    <p>I'm Ashley Conejo Molina, an IT networking student originally from Mexico, now based in Scarborough. Armed with basic networking skills, Python programming expertise, and a focus on computer security, I'm navigating the dynamic world of technology. Join me on this exciting journey as I explore networking protocols, design robust infrastructures, and ensure cybersecurity. Let's make our mark in the tech-driven world together! 🌐🔒</p>

                    <!-- Tab titles for different sections -->
                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('introductory video')">Introductory Video</p>
                        <p class="tab-links" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div>

